@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

$nav-bg-color: #FFA07A;
$nav-text: #360000;
$bg-text-color: #ffffff;
$sm-text-color: #754007;
$welcome-text-color: #ffffffff;
$fav-color: #deb887;

body {
  background: url(images/bg-img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $bg-text-color;
}

.navbar-custom {
  background-attachment: fixed;
  background-image: url(images/radiant-bg.svg);
  background-size: cover;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: $nav-text;
  font-family: 'Lovers Quarrel', cursive;
  font-size: 40px;
}

.nav-link {
  font-family: 'Cookie', cursive;
  font-size: 25px;
}

.dropdown-menu {
  background-color: $nav-bg-color;
}

.dropdown-item {
  color: $nav-text;
}

.welcome-text {
  font-family: 'Cookie', cursive;
  font-size: 40px;
  color: $welcome-text-color;
}

.fa-smile,
.fa-lightbulb {
  color: $fav-color;
}

.card {
  background-color: rgba(0,0,0, 0.4);
  border-radius: 5;
}

.modal-content,
.jumbotron {
  background-image: url(images/spectrum-bg.svg);
  background-attachment: fixed;
  background-size: cover;
  color: black;
}